{% extends "layout.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block nav_collection %}active{% endblock %}

{% block content %}
    <div class="card-group">
        <div class="card text-white bg-dark bg-gradient rounded mb-3 py-3">
            <div class="card-body">
                <h1 class="card-title">Wallet Dashboard - Coming SooN</h1>
                <p/>
                <p class="lh-1 fw-bold text-center"><code>#LayerLoopAnalysis</code></p>
            </div>
        </div>
    </div>
{% endblock %}
